<template>
  <div class="about">
    <h1>Контакты</h1>
    <div v-for="contact in contacts" :key="contact.id">{{ contact.position }} - {{ contact.fio }}</div>
  </div>
</template>

<script>
export default {      
  data() {
    return {
      counter: 1,
      contacts: [
        {
          id: 1,
          fio: "Иванов Семён Дмитриевич",
          position: "Главный врач"
        },
        {
          id: 2,
          fio: "Сергеев Иван Александрович",
          position: "Заместитель главного врача"
        }
      ]
    }
  }
}
</script>
