<template>
  <div class="home">
    <img alt="Poliklinika logo" src="../assets/poliklinika_logo.jpg">
    <HomePolik msg="Добро пожаловать в КГП «Поликлиника №3»"/>
  </div>
</template>

<script>
import HomePolik from '@/components/HomePolik.vue'

export default {
  name: 'HomeView',
  components: {
    HomePolik
  }
}
</script>
