<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Наша миссия</h2>
    <p class="main__text">Укрепление здоровья населения посредством предоставления доступной, качественной первичной медико-санитарной помощи.</p>    
    <h3>Ценности КГП «Поликлиника №3»</h3>
    <ul>
      <li class="list__orient">Пациентоориентированность</li>
      <li class="list__orient">Конкурентоспособность</li>
      <li class="list__orient">Ответственность, прозрачность, профессионализм.</li>
    </ul>
    <h2>Цели в области качества на 2023 год</h2>
    <ul>
      <li class="list__quality">Недопущение материнской смертности.</li>
      <li class="list__quality">Снижение младенческой смертности до 6.5 на 1000 родившихся.</li>
      <li class="list__quality">Увеличение выявляемости онкозаболеваний визуальной локализации 1-2 стадии до 83.5% от общего числа случаев онкозаболеваний.</li>
      <li class="list__quality">Снижение удельного веса деструктивных форм туберкулеза из числа впервые выявленных случаев до 17</li>
      <li class="list__quality">Совершенствование и расширение работы персонала в комплексной информационной медицинской системы.</li>
    </ul>    
    <ul>
      <li class="footer__menu"><a href="#" target="_blank" >Вызов врача</a></li>
      <li class="footer__menu"><a href="#" target="_blank" >Перезвонить Вам?</a></li>
      <li class="footer__menu"><a href="#" target="_blank" >Блог руководителя</a></li>      
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #4682B4;
}
.main__text {
margin-left: 140px;
}
.list__orient {
display: inline-block;
margin: 0 10px;
}
.list__quality {
text-align: left;
margin-left: 640px;
}
.footer__menu {
display: inline-block;
margin: 0 10px;
}
</style>
