<template>
  <div>
    <h1>{{ slide.title }}</h1>    
    <img alt="Slider" :src=slide.image>
  </div>
</template>

<script>
export default {
  name: 'SlideComponent',
  props: {
    slide: {
      required: true,
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
